body{
    margin: 0;
    padding: 0;
    background-color: #424040;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.header{
    padding: 30px 0;
}
.header h1{
    font-size: 36px;
    color: #c9c4c4;
    margin: 20px 0;
}
.header h2{
    font-size: 30px;
    color: #c9c4c4;
    margin: 20px 0;
}
.header ul{
    margin: 0;
    padding: 0;
}
.header ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    font-size: 18px;
    transition: 0.2s;
    user-select: none;
    background: #2b2c2c;
    color: #d3cfcf;
}
.header ul li:hover{
    background: teal;
}
.header ul li.checked{
    background: teal;
    color: white;
    text-decoration: line-through;
}
.header ul li.checked::before{
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
.close {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
.close:hover {
    background-color: crimson;
    color: white;
}
#taskForm input{
    height: 40px;
    width: 300px;
    padding: 8px 10px;
    outline: none;
    background-color: #2c2c2c;
    color: #c9c4c4;
    border: 1px solid #2c2b2b;
    border-radius: 8px;
}
#addButton{
    height: 40px;
    width: 100px;
    border: 1px solid #2c2b2b;
    border-radius: 8px;
    outline: none;
    background-color: #770952;
    color: #dfd7de;
    transition: .5s ease;
    text-align: center;
    padding: 8px 10px;
}
#addButton:hover{
    background-color: #4e0636;
}
#clear-list{
    width: 30%;
    font-weight: bold;
    font-style: italic;
    font-size: xx-large;
    font-family: "Times New Roman";
    margin: 40px 35%;
    background-color: #03555b;
    color: white;
}
#clear-list:hover{
    background-color: #074a4e;
    color: white;
}
#myInput{
    background-color: #2c2b2b;
    color: #c9c4c4;
    border: 1px solid #2c2b2b;
    border-radius: 8px;
    outline: none;
    padding: 8px 20px;
    width: 240px;
}
.addButton{
    background-color: #03555b;
    color: #fff;
    border: 1px solid #2c2b2b;
    border-radius: 8px;
    outline: none;
    padding: 8px 20px;
}
.addButton:hover{
    background-color: #074a4e;
}